<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FEF4F4"/>
    <title>Harma</title>
    <!-- Gfont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=REM:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- favicon -->
    <link rel="icon" href="./favicon.png">
    <!-- manifest -->
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
</head>
<body>
    <header class="app-bar animate__animated animate__fadeInDown">
        <div class="app-bar__brand">
            <img src="./images/brand-logo.png" alt="Harma Logo">
        </div>
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/beranda">Beranda</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle">Penduduk</a>
                    <ul class="dropdown-content">
                        <li><a href="#/penduduk">Daftar Penduduk</a></li>
                        <li><a href="#/kepala-keluarga">Daftar Kepala Keluarga</a></li>
                    </ul>
                </li>
                <li><a href="#/kegiatan">Kegiatan</a></li>
                <li><a href="#/about-us">Tentang Kami</a></li>
                <li><a href="#/login" class="login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main id="mainContent"></main>

    <footer>
        <div class="wrapper-footer">
            <div class="logo-footer">
                <img src="./images/brand-logo.png" alt="Harma Logo">
            </div>
            <div class="content-footer">
                <div class="description-footer">
                    <h2>Apa itu HARMA?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae cumque nobis deserunt possimus totam, illo veniam? Aut doloremque earum suscipit numquam corporis eius, facilis repellendus, qui quo accusantium vel!</p>
                </div>
                <div class="info-footer">
                    <div class="link-cepat">
                        <h2>Link Cepat</h2>
                        <a href="#">Beranda</a>
                        <a href="#">Penduduk</a>
                        <a href="#">Info Terkini</a>
                        <a href="#">Tentang Kami</a>
                    </div>
                    <div class="tentang-kami">
                        <h2>Tentang Kami</h2>
                        <div class="detail-tentang-kami">
                            <p>Project Capstone SIB Dicoding Cycle 6</p>
                            <p>ID: C624-P5050</p>
                        </div>
                        <div class="sosial-media">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="kontak-footer">
                        <h2>Kontak Kami</h2>
                        <p>Alamat: Jln. Maman Abdul No. 1223</p>
                        <p>Email: harma@gmail.com</p>
                        Telp: (021) 2230-8090
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-footer">
            <p>Copyright &copy; 2024 HARMA</p>
        </div>
    </footer>
</body>
</html>
