* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FEF4F4;
  font-family: "Poppins", sans-serif;
}

.app-bar {
  background-color: #FEF4F4;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-bar__brand img {
  height: 60px;
}

.app-bar__menu {
  display: block;
}

.app-bar {
  padding: 8px 16px;
  background-color: #FEF4F4;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 25px;
  padding: 12px;
  cursor: pointer;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
  
.app-bar .app-bar__navigation {
  position: absolute;
  top: 75px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
}
 
.app-bar .app-bar__navigation.open {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  transition: all 0.3s;
  overflow: hidden;
}

.app-bar .app-bar__navigation ul {
  background-color: #FEF4F4;
  list-style: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.app-bar .app-bar__navigation ul li {
  padding: 6px;
  text-decoration: none;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s;
}

.dropdown {
  text-align: center;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  flex-flow: column nowrap;
  align-content: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */

.dropdown-active .dropdown-content {
  display: block;
}

.app-bar .app-bar__navigation ul li a:hover {
  background-color: #2A6478;
  color: #FEF4F4;
  border-radius: 8px;
}

.app-bar__navigation ul li a.login {
  background-color: #2A6478;
  border-radius: 5px;
}

#navigationDrawer .login {
  color: #E9DDDD;
}

.app-bar .app-bar__navigation ul li a.login:hover {
  background-color: #48a2c0;
  color: #FEF4F4;
}

.hero {
  text-align: center;
  margin: 20px 0;
  margin: 0;
}

.hero img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.moto {
  text-align: center;
  padding: 20px;
}

.moto h2 {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.moto-grid {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.moto-item {
  background-color: #1A4756;
  height: 100px;
  border-radius: 8px;
}

/* Fasilitas */
.title {
  margin-left: 10px;
  margin-bottom: 10px;
}

.fasilitas,
.galeri,
.kegiatan,
.penduduk, .daftar-penduduk {
  width: 100%;
  max-width: 900px;
  margin: 80px auto;
}

.fasilitas .title, 
.galeri .title, .kegiatan .title, .daftar-penduduk .title {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.fasilitas .title h2, 
.galeri .title h2, 
.kegiatan .title h2, 
.penduduk .title h2, .daftar-penduduk .title h2 {
  font-size: 30px;
}

.fasilitas .btn-fasilitas, .kegiatan .btn-kegiatan, .daftar-penduduk .btn-penduduk {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-inline: 15px;
  min-width: 44px;
  min-height: 44px;
  border-radius: 10px 10px 0 10px;
  background-color: #1A4756;
  margin-right: 10px;
}

.fasilitas .btn-fasilitas a, .kegiatan .btn-kegiatan a, .daftar-penduduk .btn-penduduk a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
}

.wrapper-fasilitas, 
.wrapper-galeri,
.wrapper-kegiatan,
.wrapper-penduduk, .wrapper-daftar-penduduk {
  background-color: #1A4756;
  margin: 0 10px 0 10px;
  border-radius: 5px;
}

.fasilitas .list-fasilitas,
.galeri .list-galeri {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #1A4756;
  gap: 1.5rem;
  padding: 1.5rem;
}

.fasilitas .list-fasilitas .content-fasilitas,
.galeri .list-galeri .content-galeri {
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.fasilitas .list-fasilitas .content-fasilitas h2,
.galeri .list-galeri .content-galeri h2 {
  margin-block: 0.5rem;
}

.fasilitas .list-fasilitas .content-fasilitas img,
.galeri .list-galeri .content-galeri img {
  width: 100%;
  height: 200px;
  background-color: grey;
  border-radius: 5px;
}

/* Daftar Penduduk */
.daftar-penduduk .title h2 {
  text-align: start;
  margin-left: 5px;
}

.list-penduduk {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
  row-gap: 1.5rem;
  padding-block: 30px;
}

.list-penduduk .content-penduduk {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 100%;
  max-width: 280px;
  align-items: center;
  cursor: pointer;
}

.list-penduduk .content-penduduk .wrapper-img {
  background-color: #1391A5;
  height: fit-content;
  padding: 10px;
  width: 70px;
  height: 45px;
  border-radius: 50px;
  text-align: center;
  align-content: center;
}

.list-penduduk .content-penduduk .wrapper-img i{
  font-size: 25px;
}

.list-penduduk .content-penduduk .description-penduduk {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
  font-size: 13px;
}

.list-penduduk .content-penduduk .action {
  display: flex;
  flex-flow: column nowrap;
}

.list-penduduk .content-penduduk .action a{
  font-size: 27px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* kegiatan */
.kegiatan .wrapper-kegiatan .content-kegiatan {
  padding: 15px;
}

.kegiatan .wrapper-kegiatan .content-kegiatan .title-kegiatan {
  display: flex;
  flex-flow: column nowrap;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
}

.kegiatan .wrapper-kegiatan .content-kegiatan .title-kegiatan .waktu {
  display: flex;
  flex-flow: column nowrap;
  font-weight: bold;
  width: 100%;
  max-width: 150px;
}

.kegiatan .wrapper-kegiatan .content-kegiatan .title-kegiatan .waktu .tanggal {
  font-size: 24px;
}

.kegiatan .wrapper-kegiatan .content-kegiatan .title-kegiatan .title h2 {
  font-size: 20px;
}

.kegiatan .wrapper-kegiatan .content-kegiatan .detail-kegiatan {
  background-color: #FFFFFF;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.kegiatan .wrapper-kegiatan .content-kegiatan .detail-kegiatan .detail h2,
.kegiatan .wrapper-kegiatan .content-kegiatan .detail-kegiatan .waktu h2,
.kegiatan .wrapper-kegiatan .content-kegiatan .detail-kegiatan .tempat h2 {
  font-size: 20px;
  margin: 0;
}

.kegiatan .wrapper-kegiatan .content-kegiatan .detail-kegiatan .detail,
.kegiatan .wrapper-kegiatan .content-kegiatan .detail-kegiatan .waktu,
.kegiatan .wrapper-kegiatan .content-kegiatan .detail-kegiatan .tempat {
  margin-block: 15px;
}

.kegiatan .wrapper-kegiatan .content-kegiatan .detail-kegiatan .body {
  margin-left: 10px;
  margin-block: 10px;
}

.kegiatan .wrapper-kegiatan .content-kegiatan .detail-kegiatan .body ul {
  margin-left: 20px;
}

.kegiatan .wrapper-kegiatan .content-kegiatan .detail-kegiatan .detail .body h2 {
  font-size: 18px;
}


/* penduduk */
.penduduk .content-penduduk {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.penduduk .content-penduduk .item-penduduk {
  background-color: #FFFFFF;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  align-items: center;
  border-radius: 5px;
}

.penduduk .content-penduduk .item-penduduk img {
  width: 100%;
  max-width: 50%;
  height: 100%;
}

.penduduk .content-penduduk .item-penduduk h2 {
  text-align: center;
  font-size: 18px;
}

/* login */
.login-container {
  padding: 20px;
  border-radius: 10px;
  margin: 50px 10px 100px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  border-top: #1391A5 3px solid;
  border-bottom: #1391A5 3px solid;
}

.login-box h2 {
  margin: 0 0 20px;
  color: #333333;
  text-align: center;
  font-size: 24px;
  border-bottom: 2px solid #2A6478;
  padding-bottom: 10px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-input {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

.login-box input {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.login-box input:focus {
  border-color: black;
  outline: none;
}

.remember-me-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me-container input {
  margin-right: 10px;
}

.form-button {
  width: 100%;
}

.form-button button {
  width: 100%;
  min-height: 44px;
  border: none;
  border-radius: 10px;
  background-color: #2A6478;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: background-color 0.3s;
}

.form-button button:hover {
  background-color: #48a2c0;
}


/* tentang kami */
.content {
  padding: 20px;
  margin-top: 50px;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  background-color: #E9DDDD;
  padding: 30px;
  border-radius: 10px;
}

.about-logo {
  width: 220px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 15px;
}

.about-description {
  text-align: justify;
  width: 100%;
}

.about-description h3 {
  margin-bottom: 10px;
}

.team-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.team-member {
  background-color: #E9DDDD;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  width: 250px;
}

.team-photo {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-bottom: #2A6478 2px solid;
}

.team-info {
  margin-top: 10px;
}

.team-info h3 {
  margin: 10px 0 5px;
}

.team-info p {
  margin: 5px 0;
}

/* footer */
footer {
  width: 100%;
}

footer .wrapper-footer {
  display: flex;
  flex-flow: row nowrap;
}

footer .wrapper-footer .logo-footer{
  align-content: center;
  width: 600px;
  background-color: #E9DDDD;
}

footer .wrapper-footer .logo-footer img{
  width: 100%;
}

footer .wrapper-footer .content-footer {
  background-color: #1A4756;
  padding: 20px;
  color: white;
}

footer .wrapper-footer .content-footer .description-footer {
  margin-bottom: 20px;
}

footer .wrapper-footer .content-footer .description-footer p {
  color: #E9DDDD;
  text-align: justify;
}

footer .wrapper-footer .content-footer .info-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1rem;
}

footer .wrapper-footer .content-footer .info-footer .link-cepat {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

footer .wrapper-footer .content-footer .info-footer .link-cepat a {
  text-decoration: none;
  color: white;
}

footer .wrapper-footer .content-footer .info-footer .tentang-kami .detail-tentang-kami p {
  font-weight: bold;
}

footer .wrapper-footer .content-footer .info-footer .tentang-kami .sosial-media ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 10px 0 20px 0;
}

footer .wrapper-footer .content-footer .info-footer .tentang-kami .sosial-media li {
  background-color: #FFFFFF;
  padding: 5px;
  min-width: 44px;
  min-height: 44px;
  border-radius: 50px;
  text-align: center;
}

footer .wrapper-footer .content-footer .info-footer .tentang-kami .sosial-media li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

footer .copyright-footer {
  text-align: center;
  background-color: #1391A5;
  padding: 15px;
}

footer .copyright-footer p {
  margin: 0;
  color: white;
  font-size: 16px;
}

/* tambah fasilitas */
.form {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
}

.form .wrapper-form {
  display: flex;
  flex-flow: column nowrap;
  padding: 30px;
  margin: 30px;
  background-color: #FFFFFF;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form .wrapper-form .title {
  text-align: center;
  margin-bottom: 20px;
}

.form form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  width: 100%;
}

.form form .form-input {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

.form form .form-input input[type="text"],
.form-input input[type="date"],
.form-input input[type="time"]{
  height: 35px; 
  border-radius: 10px;
  border: 1px solid grey;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.form-input input[type="date"], .form-input input[type="time"] {
  cursor: pointer;
}

.form form .form-input input[type="text"]:focus,
.form-input textarea:focus,
.form-input input[type="date"]:focus,
.form-input input[type="time"]:focus{
  border-color: black;
  outline: none;
}

/* .form form .form-input textarea {
  height: 100px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  resize: none;
}

.form-input input[type="file"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
} */

.form form .form-button button{
  width: 100%;
  min-height: 44px;
  min-width: 44px;
  border: none;
  border-radius: 10px;
  background-color: #1391A5;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
}


.form-input select {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid grey;
  outline: none;
  font-family: "Poppins", sans-serif;
}


