@media screen and (min-width: 375px) {
  .list-penduduk .content-penduduk  {
    max-width: 330px;
  }

  .list-penduduk .content-penduduk .description-penduduk {
    font-size: 15px;
  }

  .penduduk .content-penduduk .item-penduduk {
    flex-flow: row nowrap;
  }

  .penduduk .content-penduduk .item-penduduk h2 {
    font-size: 25px;
  }
}

@media screen and (min-width: 425px) {
  .list-penduduk .content-penduduk {
    max-width: 370px;
  }
}

@media screen and (min-width: 544px) {
    .app-bar__brand img {
        height: 70px;
    }

    .moto-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .list-penduduk .content-penduduk .wrapper-img {
      padding: 10px;
      width: 80px;
      height: 80px;
    }

    .list-penduduk .content-penduduk .wrapper-img i {
      font-size: 40px;
    }

    .list-penduduk .content-penduduk .description-penduduk {
      font-size: 16px;
      max-width: 400px;
    }

    .list-penduduk .content-penduduk {
      max-width: 700px;
    }

    .list-penduduk .content-penduduk .action {
      flex-flow: row nowrap;
    }

    .list-penduduk .content-penduduk .action a {
      font-size: 30px;
      margin-right: 25px;
    }
    
}

@media (min-width: 768px) {
    .fasilitas .list-fasilitas, .galeri .list-galeri {
      grid-template-columns: repeat(3, 1fr);
    }

    .penduduk .content-penduduk {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .about-header {
        flex-direction: row;
    }

    .about-logo {
      margin-bottom: 0;
    }
  }

@media screen and (min-width: 950px) {
    .app-bar__brand img {
        height: 100px;
    }

    .app-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .app-bar .app-bar__menu {
      display: none;
    }
  
    .app-bar .app-bar__navigation {
      position: static;
      width: auto;
    }
  
    .app-bar .app-bar__navigation > ul {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
    }
  
    .app-bar .app-bar__navigation ul li {
      list-style: none;
      padding: 6px;
    }
  
    .app-bar .app-bar__navigation ul li a {
      text-decoration: none;
      color: black;
      padding: 8px 12px;
      border-radius: 5px;
    }

    .dropdown-content {
      position: absolute;
      max-width: 150px;
      top: 80%;
      height: 200px;
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }


}

@media screen and (max-width: 1024px) {
  footer .wrapper-footer {
    flex-flow: column nowrap;
  }

  footer .wrapper-footer .logo-footer{
    height: 100px;
    width: 100%;
    text-align: center;
  }

  footer .wrapper-footer .logo-footer img{
    width: 200px;
  }
}

@media screen and (max-width: 650px) {
  footer .wrapper-footer .content-footer .info-footer {
    flex-flow: column nowrap;
    align-items: center;
  }

  footer .wrapper-footer .content-footer .info-footer, .link-cepat, footer .tentang-kami, footer .kontak-footer, footer .description-footer {
    text-align: center;
  }

  footer .tentang-kami .sosial-media ul{
    justify-content: center;
  }
}
